
body {
  background-color: aquamarine;
}
h5{
  text-align: center;
}

.header {
  text-align: center;
  background-color: blueviolet;
  color: azure;
}
.user_header {
  text-align: center;
  background-color: blueviolet;
  color: rgb(0, 0, 0);
}

#login-form {
  position:relative;
  float:left; 
  text-align: center;
  bottom: 0;
  left: 30px;
  border: 10px solid;
  border-radius: 5px;
  border-color: azure;
  height: 300px;
  width: 300px;
}

#jax {
  position: absolute;
  }

#canvas {
  position:relative;
  float:left; 
  
}
#scores {
  text-align: center;
  float:right;
  width: 600px;
  background-color: rgb(115, 236, 196); 
  border: 10px solid;
  border-radius: 5px;
  border-color: azure;
}
#user-scores-card {
  display: none;
  text-align: center;
}
#leader-scores-card {
  text-align: center;
  
}
#play-again{
  float:right;
  display: none;
}